.App {
  text-align: center;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  color: aliceblue;
  background: rgb(0, 183, 255);
}

button {
  color: #ffffff;
  padding: 10px 40px;
  margin: 10px;
  font-size: 15px;
  text-transform: uppercase;
  width: 300px;
  border-radius: 15px;
  background-color: rgb(0, 9, 90);
  margin-top: 30px;
}